<p><%= @contact.name %>様</p>

<p>いつもご利用いただきありがとうございます。</p>
<p>下記のようにお問い合わせを承りました。</p>

<p>===============================================</p>

<p>【お問い合わせ内容】</p>
<p><%= @contact.content %></p>

<p>===============================================</p>

<p>頂きましたお問い合わせ内容を確認させていただきます。</p>
<p>今度ともどうぞよろしくお願い申し上げます。</p>
