/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "footer";
@import "toppage";
@import "search_detail";
@import "place/index";
@import "place/show";
@import "profile/show";


.main-background {
  background-color: #a8c088;
}

body{
  margin: 0px ;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.pagination li a{
  border: none;
  color: #696969;
}

.pagination .active a{
  background: #fcdce0;
  border-radius: 10px;
}

.pagination li a:hover{
  border-radius: 10px;
}

html,body{
  height:100%;
}

body .wrapper{
  width: 100%;
  position: relative;
  min-height: 100%;
}

.main-content-part{
  padding-bottom:120px; /*フッターの高さと同じ*/
}

.footer-main{
  height:120px;
  position:absolute;
  bottom:0;
}

@media screen and (max-width: 768px) {
  .main-content-part{
    padding-bottom:200px; /*フッターの高さと同じ*/
  }

  .footer-main{
    height:200px;
    position:absolute;
    bottom:0;
  }
}
